@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v31/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZogUE.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
h1 {
  text-align: center;
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
}
h1 a {
  text-decoration: none;
  color: #760111;
}
h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 2.25rem;
  font-family: 'Oswald', sans-serif;
}
h3 {
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  width: 33%;
}
h4 {
  font-size: 1.8rem;
  font-family: 'Oswald', sans-serif;
}
p {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}
.jumboTron {
  display: flex;
  justify-content: center;
  margin: 1%;
}
.jumboTron img {
  width: 80%;
}
nav {
  width: 100%;
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  list-style-type: circle;
}
nav ul a {
  text-decoration: none;
  color: #760111;
  border: 2px solid tan;
  box-shadow: 2px 4px moccasin;
  border-radius: 15px;
  margin: 2%;
  padding: 2% 6% 2% 6%;
  width: 25%;
}
nav ul a li {
  font-size: 2rem;
  padding: 2%;
  margin: 2%;
  text-align: center;
}
nav ul a:hover {
  background-color: tan;
  text-decoration: underline;
}
nav ul a:active {
  box-shadow: 5px 10px moccasin;
  transform: translate(0px, 10px);
}
@media (max-width:1000px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  nav ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  nav ul a {
    width: 80%;
  }
}
body {
  background-color: #F5F3DA;
  color: #760111;
  line-height: 2;
}
body header {
  background-color: #f9f8ea;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
body .gallery {
  margin: 2%;
  display: flex;
}
body .gallery .gallery-item {
  width: 33%;
  display: flex;
  justify-content: center;
  align-content: center;
}
body .gallery .gallery-item img {
  width: 75%;
  height: 40vh;
  border: 5px solid wheat;
}
body .bot-section {
  margin: 2%;
  padding: 0.5%;
}
body footer {
  background-color: tan;
  padding-top: 4%;
}
@media (max-width:1000px) {
  body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  body .gallery {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  body .gallery .gallery-item {
    width: 100%;
  }
  body .gallery .gallery-item img {
    width: 95%;
    height: auto;
  }
}
.team {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 100%;
  flex-wrap: wrap;
}
.team .portrait {
  width: 33%;
  flex-direction: column;
  justify-content: center;
}
.team .portrait h3 {
  width: 100%;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.team .portrait img {
  width: 90%;
  border-radius: 10px;
  border: 6px dashed #760111;
}
@media (max-width:1000px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: -webkit-center;
  }
  .about .team {
    flex-direction: column;
    margin: 2%;
  }
  .about .team .portrait {
    width: 60%;
    align-self: center;
  }
  .about .team .portrait h3 {
    width: 70%;
  }
  .about .team .portrait img {
    width: 70%;
  }
}
.questionSection {
  margin-left: 2%;
  margin-right: 2%;
}
.questionSection p:hover {
  font-size: 2rem;
}
.questionSection p:active {
  font-size: 3rem;
}
@media (max-width:1000px) {
  .questionSection .questionSection p:hover {
    font-size: 1rem;
  }
  .questionSection .questionSection p:active {
    font-size: 1rem;
  }
}
@media (max-width:550px) {
  .questionSection .questionSection p:hover {
    font-size: 1.2rem;
  }
  .questionSection .questionSection p:active {
    font-size: 1.2rem;
  }
}
.contactSection {
  text-align: center;
}
.contactSection p:hover {
  font-size: 2.5rem;
}
@media (max-width:550px) {
  .contactSection p:hover {
    font-size: 1.5rem;
  }
}
