.questionSection{
    margin-left: 2%;
    margin-right: 2%;


    p:hover{
        font-size: 2rem;
    }
    p:active{
        font-size: 3rem;
    }
}
.contactSection{
    text-align: center;
    p:hover{
        font-size:2.5rem;
    }
}