body{
    background-color: @mcolor;
    color: @scolor;
    .gallery{
        width:90%;
        height:auto;
        margin:2%;
        
        .gallery-item img{
            width:30%;
            height:auto;
        }
    }
}