@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');
@mfont :'Oswald',sans-serif;
@sfont : 'Montserrat',sans-serif;
//imports fonts and sets font variables
@mcolor : #F5F3DA;
@scolor : #760111;
// sets primary and secondary color variables
@tablet:~'(max-width:1000px)';
@phone:~'(max-width:550px)';
//sets max width variables for responsive design